[submodule "submissions-2024/AvaHurstCode-RefManager/AvaHurstCode-RefManager"]
	path = submissions-2024/AvaHurstCode-RefManager/AvaHurstCode-RefManager
	url = https://github.com/AvaHurstCode/RefManager
