[submodule "submissions-2024/lillywallawitsch-Wondernest.Express/lillywallawitsch-Wondernest.Express"]
	path = submissions-2024/lillywallawitsch-Wondernest.Express/lillywallawitsch-Wondernest.Express
	url = https://github.com/lillywallawitsch/Wondernest.Express
